<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="Le Concert d'a Cote, helps you geolocate concerts nearby. You can also use our event submit tool to get referenced" />
<meta name="keywords" content="concerts, search, geolocate, find, nearby, submit, event, upcoming, reference, europe, U.S.A, asia, pacific, australia, place, near, 151703ea239fe4a8e778" />
<meta name="author" content="Hamed" />
<title> Le Concert d'à Côté | Concerts near you </title>

<%- include('header'); %>

<div class="tiles-container">
    <%- include('tiles'); %>
</div>

<div class="page-nav">
    <a href="/?p=<%=(parseInt(p)-1)%>" id="prev-page" style="<% if ( parseInt(p) == 1 ){%>visibility:hidden;<%}%>"><i class="fui-arrow-left"></i></a>
    <% if (parseInt(p) > 1 ){%><a href="/?p=1">1</a>
    <% } if(parseInt(p) >= 4 ) { %>
        <a href="/?p=<%=(parseInt(p)-2)%>"><%=(parseInt(p)-2)%></a>
    <% } if(parseInt(p) >= 3 ) { %>
        <a href="/?p=<%=(parseInt(p)-1)%>"><%=(parseInt(p)-1)%></a>
    <%}%>
    <a href="javascript:void(0)" style="cursor: default;background-color:#311;"><%=parseInt(p)%></a>
    <%if(parseInt(p) <= totalPages-2){%> <a href="/?p=<%=(parseInt(p)+1)%>"><%=(parseInt(p)+1)%></a> <%}%>
    <%if(parseInt(p) <= (totalPages-3)){%> <a href="/?p=<%=(parseInt(p)+2)%>"><%=(parseInt(p)+2)%></a> <%}%>
    <%if(totalPages > 0 && parseInt(p) != totalPages ){%> <a href="/?p=<%=totalPages%>"><%=totalPages%>%> </a> <%}%>
    <a href="/?p=<%=(parseInt(p)+1)%>" id="next-page" style="<% if( totalPages == 0 || parseInt(p) == totalPages ){%>visibility:hidden;<%}%>"><i class="fui-arrow-right"></i></a>
</div>

<%- include('footer', {location: '<p>Recommending events based on your ip location: ' + loc + '</p>', extra_deps: ''}); %>
    
    <script type="text/javascript" src="//cdn.rawgit.com/WickyNilliams/headroom.js/v0.7.0/dist/headroom.min.js"></script>
    <script>
        $(document).ready(function(){
            $( 'body' ).addClass( 'page-loaded' );
            //Headroom
            var topNav = document.querySelector('#top-nav');
            // construct an instance of Headroom, passing the element
            var headroom  = new Headroom(topNav);
            // initialise
            headroom.init();
        });
    </script>
</body>
</html>