<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="Le Concert d'a Cote, helps you geolocate concerts nearby. Concerts worldwide: Europe, United States, Asia, Australia" />
<meta name="keywords" content="concerts, googlemaps, search, geolocate, find, nearby, europe, us, lastfm, place, near" />
<meta name="author" content="L3O2 Dev Team" />
<title> Le Concert d'à Côté | Geolocate concerts near your place </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="google-site-verification" content="m5FCuvjGaMBcApZXU2rBVximEygt02AM9GCsACV5JzQ" />
<meta name="google-site-verification" content="6-rUOZN8_ztBCdWvGlATe9A8DaK2_x2wxH4-9i_638g" />
<meta name="msvalidate.01" content="2AC4147C9C5A0F86B65BC2B41148227D" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<link rel="stylesheet" type="text/css" href="css/tiles.css"/>
<link rel="stylesheet" type="text/css" href="css/default.css"/>
<link rel="stylesheet" type="text/css" href="css/component.css"/>
<link rel="stylesheet" type="text/css" href="css/media.css"/>
</head>

<body class="">
	<div class="main" id="infoBtn">
		<section>
			<button id="showRight" title="More info...">
				<img src="images/menu.png">
			</button>
		</section>
	</div>
	<div class="header-holder"></div>
	<div class="header">
		<div class="logo">
			<a href="/"><img title="Le Concert d'à Côté" src="images/logored-shadow.png"></a>
		</div>
		<div class="form-holder form-holder-transition" id="form-holder">
			<form class="form-wrapper cf" id="myForm" name="searchBar" onsubmit="return false;">
				<div class="form-wraper-location">
					<img src="images/marker.png" title="Press to get geolocated" alt="Press to get geolocated" onclick="indexGeoLocate();"/>
				</div>
				<input id="address" name="address" type="text" class="form-wrapper-input" placeholder="Enter address here..." required/>
				<button id="valider" class="form-wrapper-button" type="submit">
					<img src="images/search.png" alt="Search">
				</button>
				<div class="sliderContainer" title="Use the handle to change range">
					<div id="range" class="form-wraper-range"></div>
				</div>
				<input type="text" id="amount" class="form-wraper-amount" disabled="disabled" title="Range"/>
				<div class="form-wrapper-amount"></div>
				<div>
					<input type="text" name="artist" id="artist" class="hideInput form-wrapper-input artist-input" placeholder="Enter an artist name here..."/>
				</div>
				<div>
					<button type="button" id="extendBtn" class="optionsBtn"></button>
				</div>
			</form>
		</div>
	</div>
	<div class="tiles-box" id="tiles-box">
		<% 
		if(lat && lng && Object.keys(concerts).length != 0) {
		  for (var i = 0; i < 15; i++) {
			var d = concerts[i];
			var cover = (d.image).replace("/64/", "/126/");
			var address = d.address.name+' '+d.address.street + ', '+d.address.postalcode+', '+d.address.city+', '+d.address.country; 
			var latlng = 'lat=' + d.latlong[0] + '&lng=' + d.latlong[1];
			var artists = String(d.artist).replace(/,/g, ", ");
			var title = d.title;
			if (d.title.length > 13) title = d.title.substr(0, 13) + ' ...';
			if (artists.length > 50) artists = artists.substr(0, 50) + ' ...';
			var artists = artists.split(',');
			var date = new Date(d.startDate).toLocaleString();
			date = date.replace(/:..\ /i, " ");
			var uri = '/m?'+latlng+'&range=10&artist='+artists[0];
			var encodedURL = encodeURIComponent(url+uri);
			var image_252 = (d.image).replace("/64/", "/252/")
				, summary = d.artist+' - '+date+' - '
							+d.address.name+', '+d.address.street + ', '
							+d.address.postalcode+', '+d.address.city+', '
							+d.address.country
		  %>
				<div class="tile" id="tile<%-i%>">
					<span class="helper"></span>
		  <a href="/m?<%=latlng%>&amp;range=10&amp;artist=<%=artists[0]%>" class="tile-link">
					<img src="<%-cover%>" title="<%=d.title%>" alt="<%=title%>"/>
			</a>
					<div class="tile-info">
		  <a href="/m?<%=latlng%>&amp;range=10&amp;artist=<%=artists[0]%>" class="tile-link">
						<div class="tile-title" title="<%-d.title%>"><%-title%></div>
			</a>
						<div class="tile-body"><b>Artists: </b>
							<span><%-artists%></span><br>
							<b>Date: </b><%=date%><br>
							<span><%-address%></span>
						</div>
						<div class="shareBtns">
							<a href="https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=<%=encodedURL%>&amp;p[title]=<%=d.title%>&amp;p[summary]=<%=summary%>&amp;p[images][0]=<%=image_252%>" target="_blank">
								<img width="25" src="images/fb_1.png" alt="Share On Facebook" title="Share On Facebook"/>
							</a>
							<a href="https://twitter.com/share?url=<%=encodedURL%>&amp;text=<%=d.title%>+<%-artists%>&amp;via=ConcertDaCote&amp;related=concertdacote,ConcertDaCote" target="_blank">
								<img width="25" src="images/twitter_1.png" alt="Tweet" title="Tweet"/>
							</a>
							<a href="https://plus.google.com/share?url=<%=encodedURL%>" target="_blank">
								<img width="25" src="images/google_plus.png" alt="Share on G+" title="Share On Google+"/>
							</a>
							<a href="http://stumbleupon.com/submit?url=<%=encodedURL%>" target="_blank">
								<img width="25" src="images/stumble_upon.png" alt="Stumble" title="Stumble"/>
							</a>
							<a target="_blank" href="<%=d.url%>">
								<img width="25" src="images/lastfm.png" alt="More Info On Last.fm" title="More Info On Last.fm"/>
							</a>
						</div>
					</div>
				</div>
		<% }; } %>
	</div>
	<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
		<h3>About</h3>
		<div class="info"> Le Concert d'a Cote, helps you geolocate concerts nearby. At the moment we cover up concerts almost anywhere worldwide: Europe, United States, Asia and Australia. <br><br> 
			<div class="mailto"><a href="mailto:concert.dacote@gmail.com" target="_top"><img src="images/email.png" width="25" title="Contact us by email"></a></div>
		  	<div class="fb-like" data-href="//facebook.com/concert.dacote" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
			<a href="//twitter.com/ConcertDaCote" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @ConcertDaCote</a>
		</div>
		<a href="/dashbord">Access Admin Dashbord</a><br>
		<div class="info footer"> Copyright 2013 L3O2 DevTm </div>
	</nav>
	<div id="fb-root"></div>

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
	<script src="//maps.google.com/maps/api/js?sensor=true"></script>
	<script src="js/classie.js"></script>
	<script src="js/tools.js"></script>
	<script src="js/app.js"></script>
	<script async="" src="//www.google-analytics.com/ga.js"></script>
	<script>
	$(document).ready(function(){
	  $( 'body' ).addClass( 'page-loaded' );
	});

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-40498004-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<script>
	  window.fbAsyncInit = function() {
		FB.init({
		  appId      : '566488513446170',
		  xfbml      : true,
		  version    : 'v2.2'
		});
	  };

	  (function(d, s, id){
		 var js, fjs = d.getElementsByTagName(s)[0];
		 if (d.getElementById(id)) {return;}
		 js = d.createElement(s); js.id = id;
		 js.src = "//connect.facebook.net/en_US/sdk.js";
		 fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>
</html>