<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="Le Concert d'a Cote | <%if(concerts.length!=0){%><%for(i=0;i<concerts.length;i++){%><%=concerts[i].description+' | '%><%}%><%}%>" />
<meta name="keywords" content="<%if(concerts.length!=0){%><%for(i=0;i<concerts.length;i++){%><%=concerts[i].title+' | '%><%}%><%}%>" />
<meta name="author" content="<%if(concerts.length!=0){%><%for(i=0;i<concerts.length;i++){%><%=concerts[i].artist+' | '%><%}%><%}%>" />
<title><%if(concerts.length!=0){%><%=concerts[0].title+' | '%><%}%>Le Concert d'à Côté</title>

<%- include('header'); %>

<div id="mini-tiles-box">
	<%- include('tiles', {lat: lat, lng: lng, concerts: concerts}); %>
</div>

<%- include('carte'); %>

<%- include('footer', {location: '', extra_deps: '<script src="js/modernizr.custom.js"></script><script src="js/markerclusterer_packed.js"></script><script src="js/oms.min.js"></script>'}); %>

	<script>
		$(document).ready(function(){
			$( 'body' ).addClass( 'page-loaded' );
			document.body.onload = initLocation(<%-JSON.stringify(query)+', '+JSON.stringify(concerts)%>);
		});
		$('#carte-container').height($(window).height()-90);
		$('#carte-container').width($(window).width()-410);
	</script>
</body>
</html>